.cont{
    margin-left: 2px;
}

.half{
    margin-right: 250px;
}

.btn1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 226, 190);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

.btn1:hover{
    color: blueviolet;
}



