.heading{
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: aqua;
    font-weight: bolder;
}

.list-head{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;

}
/*.form_doctor{
    background-image: url("formbg_doctor.jpg");
    background-color: rgb(15, 70, 70);
}*/