<div class="container">
<h2 class="heading">Add Doctors</h2>
<app-doctor-add class="form_doctor" (doctorAdd)="addDoctor($event)"></app-doctor-add>
<div class="list-head">List Of Doctors</div>
<div class="search">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Start searching for the doctor">
  </div>
<div *ngIf="this.doctors.length===0; else elseBlock">No Doctors to display</div>
<ng-template #elseBlock>
<div *ngFor="let doctor of doctors  | filter:searchText">
    <app-doctor-info [doctor]="doctor" (doctorDelete)="deleteDoctor($event)"></app-doctor-info>
</div>
</ng-template>
</div>
