<div class="info"></div>
<div class="table-responsive">
<table class="table">
    
    <tbody>
        <tr>
          <th colspan="2" scope="row">{{patient.name}}</th>
          <td colspan="2">{{patient.age}}</td>
          <td colspan="2">{{patient.desc}}</td>
          <td colspan="2">{{patient.phoneno}}</td>
          <td colspan="2">{{patient.gender}}</td>
          <td colspan="2">{{patient.doctor}}</td>
          <td colspan="2">{{patient.appointment_date}}</td>
          <td colspan="2"><div class="btn btn-danger" (click)="onClick(patient)">
              Cancel Appointment
          </div></td>
        </tr>
        
      </tbody>
  </table>
</div>