<div class="container">
  <div class="row mt-5">
    <div class="card col-12 col-md-6 col-lg-4">
      <img src="./assets/doctor.png" class="card-img-top logo" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Check and Add Doctors</h5>
        <p class="card-text">Add new doctors , update their availability and alter their details</p>
        <a routerLink="/doctors" class="btn btn-primary">Let's Go !</a>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="card col-12 col-md-6 col-lg-4">
      <img src="./assets/appointment.png" class="card-img-top logo" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Add and Cancel Appointments</h5>
        <p class="card-text">Add , Change and Make the necessary entries in the appointments in accordance with
          availability of doctors</p>
        <a routerLink="/patients" class="btn btn-primary">Let's Go !</a>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="section">
      <h4>Welcome to MyHospital !!!</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere rerum debitis aliquid provident atque
        labore. Quod magni recusandae voluptates similique, minima exercitationem voluptatum earum ullam commodi placeat
        impedit consequatur repellat nulla eius voluptatibus.</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem quos consequatur, voluptas praesentium soluta
        suscipit sed sequi quaerat tempora, officia quae quasi ut inventore illo ad, officiis quidem amet. Nostrum minus
        nesciunt ea eligendi dolorum suscipit quod ipsum quas debitis obcaecati aliquam vero, nulla dignissimos cum quam
        odio quos. Hic soluta nesciunt doloremque fuga!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="./assets/png-clipart-doctor-and-nurse-illustration-physician-nursing-hospital-nurse-doctors-and-nurses-people-public-relations.png">
    </div>
    <div class="col-md-6">
      <p style="margin-top: 100px;"
      >Want immediate attention and diagnosis . Don't worry ! We are here to help . We have all types of assistance and
      medical help that you will need to helpyou lead a better life . Make the appointment by specifying your problem
      and we will find the best doctor suited for you . Select the date and time of your appointment between 10 am to 8
      pm and we will try our best to give you your preferred time .</p>
      <div class="text-center"><a routerLink="/patients" style="margin-top: 50px;" class="btn1 ">Click here to proceed !</a></div>
      
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
      <p style="margin-top: 50px;"
      >Having trouble finding the go to doctor who is the best suited to take care of your disease . Don't worry , we have got you covered here as well . Look into the various doctors we have . Match it with your disease or problem . We'll make sure that you will not be facing a problem in getting an appointment . We strive to give independence to our users . You can always choose what's best for you .</p>
      <div class="text-center"><a routerLink="/doctors" style="margin-top: 20px;" class="btn1">Click here to proceed !</a></div>
      
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="./assets/png-transparent-physician-lia-doctor-of-medicine-doctors-and-nurses-miscellaneous-photography-service.png">
    </div>
    
  </div>
</div>